<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./inc/head')%>
</head>
<body>
    <%-include('./inc/nav')%>
    <section>
        <h1><%=words.random3%></h1>
        <h1><%=words.random4%></h1>
        <h1><%=words.random5%></h1>
        <h1><%=words.random6%></h1>
        
    </section>
</body>
</html>